<div class="bigContainer">
	<div class="aboveTable">
		<div id="aboveHeader">AutoDS Item Grabber <a href="https://intercom.help/autods/faq-english/autods-item-grabber" target="_blank">Help</a></div>
	</div>
	<div class="tableContainer">
		<table id="grabberTable" class="panel-body">
			<!-- <thead>
				<tr>
					<th>Product ID</th>
					<th>Title</th>
					<th>Price</th>
					<th>Ranking</th>
					<th>Stars</th>
				</tr>
			</thead> -->
			<tbody>
				<tr></tr>
			</tbody>
		</table>
	</div>
	<div class="belowTable">
		<div id="counter" class="counter">Products: 0</div>
		<div>
			<button id="bulkGrab" class="styleButtons">Extract</button>
			<button id="deleteGrab" class="styleButtons">Delete</button>
		</div>
		<div>
			<button id="exportToDS" class="styleButtons" onclick="downloadCSV();">Export as CSV</button>
			<!-- <button id="exportToDS" class="styleButtons" onclick="downloadCSV();">Multi Extractor</button> -->
		</div>
	</div>
</div>

<div> <img id="grabberDS" src="http://autodstools-res.cloudinary.com/image/upload/v1518906486/autodsIcon_bgxi2w.png"></img> </div>