#AmazonAtofillPast,#homedepotAtofillPast,#homedepotPopAtofillPast  { border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px; }
.homedepotAtofillPastTopBottom{border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px;}
#additional_popup_paste  { border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px; }
#AmazonAtofillCopy00  { border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px;margin: 5px; }
#AmazonAtofillCopy01 { border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px; margin: 5px; }
#AmazonAtofillCopy02 { border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px; margin: 5px; }
#AmazonAtofilldeleteAll  { border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px; margin:2px; }
#AmazonAtofilldeleteAllExeptLastone  { border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px; margin:2px; }

.orangeButtons:hover {background: #3ccc2f; background-image: -webkit-linear-gradient(top, #3ccc2f, #5cd943); background-image: -moz-linear-gradient(top, #3ccc2f, #5cd943); background-image: -ms-linear-gradient(top, #3ccc2f, #5cd943); background-image: -o-linear-gradient(top, #3ccc2f, #5cd943); background-image: linear-gradient(to bottom, #3ccc2f, #5cd943); text-decoration: none; }

#AmazonAtofillPastUpdate  { border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px; }
#AmazonAtofillCopy00Update { border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px; }
#AmazonAtofilldeleteAllUpdate  { border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px; margin:2px; }
#AmazonAtofilldeleteAllExeptLastoneUpdate  { border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px; margin:2px; }

#AmazonAtofillPastFresh {border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px; }
#AmazonAtofillPastLastUpdate {border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px; }


.fauxborder-right.main-fauxborder-right { visibility: collapse; }
.a-popover-wrapper { z-index:1000; }
.section-overwrap { visibility:collapse; }


.exportList-easync {float:right; }
.exportList-dshopit { margin-left:10px; }
.exportList-skugrid { margin-top:16px; float:right;}
.exportList-priceyak { float:right; }
.toolbtn;
.toolbtn:hover{ border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px; cursor:pointer;}


.pasteButtonStyle{ border-width:0px; color:#fff; background-color:orange; padding:10px; font-size:15px;}
a.pasteButtonStyle:hover{color:white;cursor:pointer;text-decoration:none !important;}
a#walmartFillData{float: left; margin-top: 10px;}
.banggoodFillData{margin-top: 20px; display: inline-block;}
.banggoodFillDataAddress{float: right;}
#banggoodFillDataCheckout{float: left;margin-right: 20px;margin-top: -10px;}

#content-spinner{ position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(255;255;255;0.5);text-align:center;z-index:99999;}
#content-spinner img{ position:absolute;top:50%;left:50%;-webkit-transform: translate(-100px;0%);-moz-transform: translate(-100px;0%);-ms-transform: translate(-100px;0%);-o-transform: translate(-100px;0%);transform: translate(-100px;0%);}

.warehouse .item_con { display:inline-block;vertical-align:middle}
.warehouse .variant_div;
.pro_price .variant_div{ display: inline-block; left: 150px; position: relative; top: -10px;vertical-align:middle}
.pro_price .variant_div{ left: 50px; top:-6px;}
/*.p-del-price-detail .variant_div{ display: inline-block; left: 150px; position: relative; top: -10px;vertical-align:middle}
.p-del-price-detail .variant_div{ left: 50px; top:-6px;}*/
.warehouse .variant_div .variant_info;
.pro_price .variant_div .variant_info{display:inline-block;margin-right:10px;vertical-align:middle}
div#variant_info {font-size: 16px;}
.warehouse .variant_div button.pasteButtonStyle; .product-price-main .pro_price .variant_div button.pasteButtonStyle{padding-top:2px; padding-bottom:4px; cursor:pointer;}
.success_msg{color:green; margin: 0 0 0 10px; position: absolute; right: -110px; top: 7px;}


#variant_aliexpressinfo {display: inline-block;margin: 0 10px 0 0;}
.variant_aliexpressdiv {margin: 10px 0;}
#aliexpressmsg .success_msg{position: static;}
#aliexpressmsg {display: inline-block;}
.variant_aliexpressdiv button.pasteButtonStyle{padding-top:2px; padding-bottom:4px; cursor:pointer;}

.bigContainer {display: none; height: 54%; width: 100px; min-width: 9%; position: fixed; z-index: 99; right: 3%; top: 20%; bottom: 3%; background-color: white; margin-right: 1px; border: 1px solid black; border-radius: 3px; }
.aboveTable {display:block; width: 100%; text-align: center; /*background-color: rgb(51; 51; 51);*/ background-color: #303641; color: #ffffff; font-size: 14px; font-family: Arial; vertical-align: center; padding: 6px 0px 9px 0px; border-bottom: 1px solid #e5cccc; }
.tableContainer {width: 100%; overflow-y: scroll; overflow-x: hidden; padding-bottom: 10px; /*position:absolute; right:0px; bottom:0px;*/ }
@media only screen and (min-width : 0px) {.tableContainer {height: 61%; } }
@media only screen and (min-width : 1244px) {.tableContainer {height: 68%; } }
.belowTable {display: block; background-color: white; text-align: center; border-top: 1px solid #e5cccc; height: 10%; min-height: 10%; }
#grabberTable {width: 100%; }
div #grabberTable thead, div #grabberTable tbody{display: block; width: 100% }
#grabberTable thead tr {display:block; width: 100%; text-align: left; /*background-color: rgb(51; 51; 51);*/ background-color: #303641; color: #ffffff; padding: 3px; }
#grabberTable tbody tr {display:block; width: 100%; text-align: left; color: #000000; background-color: white; /*border-left: 1px solid black;*/ /*border-right: 1px solid black;*/ padding: 3px; }
#grabberTable thead th, #grabberTable tbody td {width: auto; }
#grabberTable tbody tr td p{font-size: 12px; color: black; }
.styleButtons {color: #fff; background-color: #303641; border-color: #252a32; margin: 6px 3px 2px 3px; font-size: 12px; display: inline-block; font-weight: normal; text-align: center; vertical-align: middle; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 3px 6px; line-height: 1.42857143; border-radius: 3px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.styleButtons:hover {color: #fff; background-color: #1a1e24; border-color: #0b0d0f; }
#grabberDS {height: auto; width: auto; position: fixed; z-index: 10; right: 3%; top: 85%; bottom: 3%; background-color: transparent; margin-right: 30px }
#counter {margin: 6px 3px 3px 3px; font-family: arial; }
#grabberTable a{color: #0066c0;text-decoration: none;} a.pasteButtonStyle:hover{color:white;cursor:pointer;text-decoration:none !important;}
#grabberTable a:hover{text-decoration: underline;}

div#content-spinner-small {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    left: 50%;
    max-width: 120px;
}
#content-spinner-small img {
    max-width: 100%;
}
